.sidebar {
    padding: 5px;
    height: 100%;
    width: 480px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFEAC8;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px;
    transform: translateX(-240px);
}

.bloc-message {
    padding: 15px;
    margin: 10px;
    background-color: #fafafa;
}

#btnCloseSideBar {
    margin-left: 50%;
    transform: translate(-50%);
}

.add {
    border: 5px dashed rgb(190, 190, 190);
}

@media only screen and (max-width: 767px) {
    .sidebar {
        height: 100%;
        transform: translateX(-240px);
        width: 240px;
    }


}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 5px dashed rgb(190, 190, 190);
}

@media only screen and (max-width: 767px) {
    .sidebar {
        height: 100%;
        transform: translateX(-240px);
        width: 240px;
    }


}