.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFEAC8;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px;
}

.bloc-message {
    margin: 10px;
    border-radius: 10%;
    background-color: #fef6eb;
}