* {
  box-sizing: border-box;
}
body {
    background-color: #f6f4f0;
  }


  
  /* Sidebar */

.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFEAC8;
  overflow-x: hidden;
  transition: .5s;
  padding-top: 60px;
}

#icon-toggle-menu {
  display: none;
  position : fixed;
  left : 10px;
  z-index: 2;
}

  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  .container-custom {
    position: fixed;
    background-color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 70%;
    height: 80%;
    right :0;
    bottom: 0;
    overflow-y: auto;

  }
  
  #logo-home {
    position: absolute;
    top   : 0;
    right : 0;
    padding : 5px;
  }
#img-nom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#list-infos{
  position: absolute;
  bottom: 50%;
}
#img-nom >* {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
a {
  color : black;
}

#tab-portfolio {
  display: none;
}
@media only screen and (max-width: 767px) {
  .sidebar {
    height: 100%;
    transform: translateX(-240px);

}
  .container-custom {
    left: 50%;
    transform: translateX(-50%);
  }
  #icon-toggle-menu {
    display:block;
  }
  #profil-img {
    display :none;
  }
  body {
    display: relative;
  }
  #logo-home {
    transform: scale(0.7);
  }
}